@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;600;700;900&display=swap");

:root {
  --clr-attribution: #3e52a3;
  --clr-pale-blue: #e0e8ff;
  --clr-bright-blue: #3829e0;
  --clr-very-pblue: #f5f7ff;
  --clr-des-blue: #7280a7;
  --clr-dark-blue: #1f2f56;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
}

html {
  font-size: 16px;
}

body {
  font-family: "Red Hat Display", sans-serif;
  background-color: var(--clr-pale-blue);
  width: 50%;
  margin: auto;
}

.card {
  width: 375px;
  margin: 7rem auto;
  border-radius: 18px;
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.25);
}

.hero {
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
}

.right-container {
  background-color: var(--clr-very-pblue);
  margin-top: -6px;
  padding: 2rem 1.5rem;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
}

.hero-title {
  text-align: center;
  font-weight: 900;
}

.hero-para {
  padding: 1rem 0;
  text-align: center;
  color: var(--clr-des-blue);
  font-weight: 500;
}

.small-box {
  padding: 10px 0;
  background-color: #7280a7;
  display: flex;
  justify-content: space-around;
  border: none;
  border-radius: 10px;
}

.music {
  width: 80%;
  height: 80%;
  margin: 4px;
}

.price-container {
  margin-top: 4px;
}

.prize {
  color: var(--clr-pale-blue);
}

.link {
  margin-top: 16px;
  color: var(--clr-bright-blue);
  font-weight: 700;
  font-size: 0.9rem;
  text-decoration: underline;
}

.btn-blue {
  margin: 1.5rem 0;
  padding: 10px 83px;
  background-color: var(--clr-bright-blue);
  color: var(--clr-very-pblue);
  border: 2px solid var(--clr-bright-blue);
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
}

.btn-blue:hover {
  background-color: rgb(5, 5, 170);
  transition: 0.3s;
}

.text {
  padding-left: 7.25rem;
  color: var(--clr-des-blue);
  font-weight: 900;
  font-size: 0.9rem;
}
